@page
@model IndexModel
@using Models
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>ChristarIsAwesome.com is a website to let Christar know the things you wouldn't just bring up in normal conversation.
    It's to let her know why <strong>you</strong> think she is great and how she has impacted you. This is a birthday present, so
    don't tell her!</p>
    <br />
    
</div>

