@page
@model ChristarIsAwesome.Pages.Post.SubmissionThanksModel
@using Services
@{
}

<div class="text-center">
    <h3 class="display-4 mt-5">Thank you</h3>
    <p class="col-9 mx-auto">
        for participating in @SD.Name's birthday surprise
    </p>
    <p><i style="color:saddlebrown"class="fa-solid fa-whiskey-glass"></i> Here's to you</p>
    <br />

</div>